
/*pacient */


.btn:hover{
background-image:none;
}

.border {
		border: 0px solid black;
}

.answer {
	width: 99%;
	margin: 10px;
	font-size: 20px;
}

#message{
	margin-top: 10px;
}
