<!DOCTYPE html>
<html lang="en">

	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="functions.js"></script>
		<script src="js/FileSaver.js"></script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Tarefa de nomear</title>


		<link rel="stylesheet" href="assets/css/bootstrap.min.css">


	</head>


	<body>
		<header class="top-header ">
			<div class="container text-center"	>
				<h1>Tarefa de nomear</h1>



				<div class="portrait custom-file-upload" id="filedrag" >

					<input type='file' id="result" class="portrait"/>
						<img class="img" id="myImg" style=""></img>


				</div>
				<label for="result2" id="labelresult2" class="btn btn-primary btn-outlined" style="visibility : hidden; margin-top: 10px;">Seleccionar outra imagem</label>
				<input type='file' id="result2" class="inputfile" style="width : 100%; height : 100%;  visibility: hidden "/>


				<form class="text-left">
				  Palavra a descobrir(titulo da imagem por defeito):<input id="palavra" type="text"></input>
					<br>
				  <br>
					Número de letras para preencher(duas por defeito):<input id="nrletras" type="number" value="2"></input>
				  <button class="btn btn-primary btn-outlined" type="button" id="todos">Todas</button>
				  <button class="btn btn-primary btn-outlined" type="button" id="metade">Metade</button>
					<br>
					<br>
					Mensagens de ajuda:<input style="width: 30%;" id="msgAjuda" type="text"></input>
					<button class="btn btn-primary btn-outlined" type="button" id="adicionarMensagem">Adicionar</button>
					<button class="btn btn-primary btn-outlined" type="button" id="apagarMensagem">Apagar Ultima Mensagem</button>

					<div id="mensagens">

					</div>
				  <br><button class="btn btn-primary btn-outlined" type="button" id="submitBtn">Generate template!</button>
				</form>
			</div>
		</header>



	</body>


</html>
