html{
	height: 100%;
}

head{
	height: 15%;
}

body{
	height: 85%;
}

#main_div{
	height: 100%;
	padding: 20px;
}

#ask_number_div{
	height: 15%;
	padding: 20px;
}

#insert_img_div{
	height: 85%;
	padding: 20px;
}

.div-border{
	border: 1px solid black;				
}

.single_img_div{
	text-align: center;
	height: 25%;
}

.img-size{
	max-width: 100%;
	max-height: 100%;
}

.brightness {
    background-color: white;
    display: inline-block;
   
}

.brightness img:hover {
    opacity: .75;
}