html{
	height: 100%;
}

body{
	height: 100%;

}

#main_div{
    text-align: center;
	height: 85%;
	padding: 10px;
    border: 1px solid black;
}

#choice_div{
    max-width: 100%;
    height: 50%;
    padding: 10px;
    border: 1px solid black;
}

#answer_div{
    max-width: 100%;
    height: 50%;
    padding: 10px;
    border: 1px solid black;
}

.single_img_div{
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
}