html{
	height: 100%;
}

head{
	height: 5%;
}

body{
	height: 95%;
}

#main_div{
	height: 100%;
	padding: 20px;
}

#insert_img_div{
	height: 30%;
	padding: 20px;
}

#insert_cat_div{
	height: 70%;
	padding: 20px;
}

.div-border{
	border: 1px solid black;				
}

.single_img_div{
	text-align: center;
	height: 100%;
}

.single_cat_div{
	text-align: center;
	height: 65%;
	width: 30%;
}

.all_cat_div{
	text-align: center;
	height: 100%;
}

.text_input{
	text-align:	center;
}

.img-size{
	max-width: 100%;
	max-height: 100%;
}

.brightness {
    background-color: white;
    display: inline-block;
}

.brightness img:hover {
    opacity: .75;
}