<!DOCTYPE html>
<html lang="en">

	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="functions.js"></script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Template 1 - Memória de reconhecimento visual</title>

		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	</head>

	<body>
		<header class="top-header text-center">
				<h1>Template 1 - Memória de reconhecimento visual</h1>
		</header>


		<div id="main_div" class="container-fluid">			
			<div id="ask_number_div" class=" text-center">
				<p>
					Número de imagens a inserir: 
					<input id="number_of_images" type="text">
					<button id="generate">Passo Seguinte</button>
				</p> 
			</div>
			
			<div id="insert_img_div">
			
			</div>

			<div id="target"></div>		

			<hr></hr>
			<div id="ask_category_div" class=" text-center">
				<p>
					Título: <input id="title" type="text" size="50" value="Selecione imagens relacionadas com _______">
					<button id="generate2">Passo Seguinte</button>
				</p> 
			</div>
			
			<div id="insert_cat_div">
			
			</div>				
		</div>
	</body>


</html>
