<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Doctor</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="stylesheet.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	  <script src="doctor.js"></script>

	</head>

	<body>
		<h1 class="text-center">Tarefa de escolha multipla</h1>
		<div class="container">

			<div class="form-group col-xs-12">
				<label for="usr">Insira uma pergunta:</label>
	  			<input type="text" class="form-control" id="pergunta" onchange= "getQuestion()">

					<br>
				<label for="sel1">Quantas respostas quer adicionar:</label>
				<select class="form-control" id="sel" onchange="getNumberAnswers()">
						<option disabled selected value> -- Seleccione uma opção -- </option>
						<option>2</option>
				    <option>3</option>
				    <option>4</option>
						<option>5</option>
						<option>6</option>
	 			</select>
	 			<div id="div_respostas" style="padding: 10px"></div>
			</div>
			
		</div>

	</body>
</html>
